.change_p input{
  margin-top: 1.2rem;
  padding: 0.3rem;
  width: 50px;
  display: block;
  position: relative;
  margin: 0 auto;
}
.change_p button{
  margin-top: 0.3rem;
  display: block;
  margin: 0 auto;
  width: 50px;
}
.change_p{
  padding: 1.4rem;
}
