<div class="container">
  <nav>
    <ul class="nav nav-tabs">
      <li role="presentation"><a [routerLink]="['/popular']">Popular</a></li>
      <li role="presentation"><a [routerLink]="['/right_now']">Right Now</a></li>
      <li role="presentation"><a [routerLink]="['/upcoming']">Upcoming</a></li>
        <div class="input-group search-field pull-right">
          <input type="text" class="form-control" placeholder="Search for...">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">Go!</button>
          </span>
        </div>
    </ul>
  </nav>
</div>
