.box{
  border-bottom: 1px dotted silver;
  display: inline-block;
  padding-bottom: 3.2rem;
  padding-top: 3.2rem;
}
.right{
  width: 275px;
  display: inline-block;
  margin-left: 1.2rem;
}
h3, h4{
  display: inline-block;
}
h4{
  margin: 0;
  border: 1px solid #111;
  padding: 0.8rem;
  border-radius: 100%;
}
img{
  float: left;
  display: inline-block;
}
